* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: rgb(2,0,36);
  background-color: #7cffcb;
  background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.wrapper{
  margin: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 #1f26875e;
  backdrop-filter: blur( 4px );
  
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 8px;
}

.inputDiv{
  width: 30rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;
}

input{
  width: 60%;
  height: 2.3rem;
  padding: .5rem;
  border-radius: 8px;
  margin: 0;
  width: 100%;
}
ul{
  display: flex;
  flex-direction: column;
}
.todoList{
  width: 30rem;
  margin: 1rem;
  padding: 1rem;
  list-style: none;
  border-radius: 8px;
  display: flex;
  justify-content: left;
  align-items: center;
  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
}


.btns{
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #392B69;
  font-family: "Trebuchet MS";
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  text-transform: capitalize;
  justify-content: right;
}
.tasksDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22rem;
}

.todo-label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1{
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px solid #392B69;
}

.task-text{
  font-family: "Trebuchet MS";
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 22rem;
}