* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: rgb(2,0,36);
  background-image: url("./todobg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.wrapper{
  margin: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 #1f26875e;
  backdrop-filter: blur( 11px );  
  -webkit-backdrop-filter: blur( 4px );
  border: 2px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 16px;
}

.inputDiv{
  width: 30rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;
}

input{
  width: 60%;
  height: 2.3rem;
  padding: .5rem;
  border-radius: 8px;
  margin: 0;
  width: 100%;
  font-size: 1rem;
  color: #333;
  font-weight: 600;
  font-family: "Trebuchet MS";
}
ul{
  display: flex;
  flex-direction: column;
}
.todoList{
  width: 30rem;
  margin: 1rem;
  padding: 0.3rem 1rem;
  list-style: none;
  border-radius: 16px;
  display: flex;
  justify-content: left;
  align-items: center;
  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 16px;
}


.btns{
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #392B69;
  font-family: "Trebuchet MS";
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  text-transform: capitalize;
  justify-content: right;
}
.tasksDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22rem;
  color: #333;
  font-weight: 600;
  font-family: "Trebuchet MS";
}

.todo-label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1{
  color: #1899D6;
  text-transform: uppercase;
  font-size: 3rem;
  border-bottom: 3px solid #392B69;
  font-family: 'Courier New', Courier, monospace;
}

.task-text{
  font-family: "Trebuchet MS";
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 22rem;
}


.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  outline: none;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 1rem;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}